.App {
  text-align: center;

}

.content {
  background-color: #222529;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  color: white;
}


gux-icon {
  width: 100%;
  font-size: 5em;
  margin: 50px 0 50px 0;
}
